body {
	background: #333;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}

div {
	box-sizing: border-box;
}

main {
	width: 95%;
	max-width: 768px;
	min-width: 265px;
	height: auto;
	margin: 0 auto;
}

/* GAME TITLE */

.game-title {
	width: 100%;
	float: left;
	margin: 20px 0px;
	text-align: center;
}

.game-title h1 {
	font-family: 'Lemonada', cursive;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}

/* PAINEL SCORE */

.painel {
	float: left;
	width: 100%;
}

.painel .player {
	background: #FFF;
	width: auto;
	height: auto;
	max-width: 150px;
	padding: 5px;
	overflow: hidden;
	border: 0px solid #FFF;
	border-radius: 5px;
	opacity: 0.3;
}

.painel .active {
	opacity: 1;
}

.painel .player-one {
	float: left;
	background: #DA7B71;
}

.painel .player-two {
	float: right;
	background: #7798E4;
}

.painel .player .player-name {
	width: 100%;
	height: auto;
	float: left;
	color: #FFF;
	font-family: 'Lemonada', cursive;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.painel .player .player-score {
	width: 100%;
	height: auto;
	float: left;
	color: #FFF;
	font-family: 'Lemonada', cursive;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}

/* CARDS */

.section-cards {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
	-webkit-perspective: 500;
}

.section-cards .card {
	float: left;
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 5px;
	border: 2px solid #FFF;
	background: #FFF;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	will-change: transform;
}

.section-cards .card.flip {
	-webkit-transform: rotateY(-180deg);
}

.section-cards .card .back {
	-webkit-transform: rotateY(180deg);
}

.section-cards .card figure {
	background: #FFF;
	border-radius: 5px;
	position: absolute;
	margin:0;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}

.section-cards .card figure img {
	width:60px;
}

@media (max-width:480px) {
	.section-cards .card {
		width: 65px;
		height: 65px;
	}	
	.section-cards .card figure img {
		width: 65px;
	}
}
@media (min-width:481px) {
	.section-cards .card {
		width: 80px;
		height: 80px;
	}	
	.section-cards .card figure img {
		width: 80px;
	}
}	
@media (min-width:641px) {
	.section-cards .card {
		width: 100px;
		height: 100px;
	}	
	.section-cards .card figure img {
		width: 100px;
	}
}
@media (min-width:961px) {
	.section-cards .card {
		width: 100px;
		height: 100px;
	}	
	.section-cards .card figure img {
		width: 100px;
	}
}
